@import url('https://fonts.cdnfonts.com/css/aileron');
*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Aileron', sans-serif;
}

body{
    background-color: #111111;
}
nav{
    margin-left: 200px;
    position: relative;
    width: 100%;
    height: 100px;
}

nav .navright{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 30px;
}
nav .navright p:hover{
    scale: 1.4;
    color: #e6d615;
}
a {
    text-decoration: none;
}


header{
    width: 100%;
    height: 80vh;
}

.img{
    position: absolute;
    top:0px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    height: 450px;
    width: 300px;
    background-color: #2b6777;
    
}
header .pcir{
    display: flex;
    margin-top: 20px;
    margin-left: 20px;

}
header .pcir h1{
    font-size: 25px;
    margin-top: 4px;
    margin-left: 10px;
    letter-spacing: 1.5;
}
header .circle{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #eea302;
}
.hover-element{
    height: 70%;
    width: 100%;
    scale: 2;
    transition: background-image 0.3s ease;
    background-size: cover;
    background-image: url(/Untitled-1.png);
}
.hover-element:hover{
    background-image: url(/ankit-ai.png);
    
}
header .icon{
    position: absolute;
    top: 450px;
}
header .icon ul{
    display: inline-flex;
    flex-direction: row;
    list-style: none;
    margin-top: 60x;
    padding-left: 10px;

}
.icon ul li img{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;  
}

 header div .world{
    height: 500px;
    width: 500px;
    display: inline;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    background-color: #2b6777;
}
.world span{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    font-size: 35px;
    font-style: italic;
    margin-bottom: 10px;
    letter-spacing: 1px;
}
.world h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #52ab98;
    padding-left: 80px;
    margin-bottom: 40px;
    font-weight: 500;
    padding-right: 20px;
    letter-spacing: 1px;
    
}
.world h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    margin-bottom: 25px;
    padding-right: 35px;
    font-weight: 200;
    letter-spacing: 1px;
}
.world .p1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    padding-left: 430px;
    letter-spacing: 1px;
}
.world .p2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    padding-left: 200px;
    letter-spacing: 1px;
    margin-bottom: 40px;

}
.world a{
    padding: 10px;
    border-radius: 25px;
    background-color: #52ab98;
    margin-left: 645px;
    font-size: 20px;
    
}
header #boder{
   position: relative;
   margin-top: 120px;
}
header #boder .img-fluid{
    width: 100%;
    height: auto;
}
header #boder img{
    vertical-align: middle;
    border-style: none;
}


main{
    display: flex;
}
.maindiv{
    flex: 2.5;
}
.maindiv h1{
    display: inline;
    text-wrap: wrap;
    margin-left: 455px;
    color: #52ab98;
    text-align: center;
    font-size: 60px;
}
.maindiv h1:hover{
    color: #e6d615;
    cursor: pointer;
    transition: 0.8s;
}
main .animation{
    position: absolute;
    height: 200px;
    width: 50px;
    background-color: #eea302;
    border-radius: 50px;
    animation: moveUp 2s infinite;
    margin-left: 60px;
}
@keyframes moveUp{
    0%{margin-top: 0px;}
    50%{margin-top: 500px;}
    100%{margin-top: 0px;}

}

main section h2 {
   text-align: center;
   color: #52ab98;
   font-size: 30px;
   margin-top: 150px;
}
main section h2:hover{
    color: #e6d615;
    cursor: pointer;
    transition: 0.8s;
}
main section h2 p{
    font-size: 15px;
    margin-left: 178px;
    margin-top: 10px;
    font-weight: 400;
    letter-spacing: 2px;

}
main section h2 #year{
    margin-left: 175px;
    letter-spacing: 2px;
}
main section h2 span{
    margin-left: 30px;
    color: #52ab98;
    
}
main section h3{
    text-align: center;
    color: #52ab98;
    margin-top: 100px;
    font-size: 30px;
    margin-left: 20px;
}
main section h3:hover{
    color: #e6d615;
    cursor: pointer;
    transition: 0.8s;
}
main section h3 p{
    font-size: 15px;
    margin-left: 0px;
    margin-top: 10px;
    font-weight: 400;
    letter-spacing: 2px;
}
main section h3 #experience{
    margin-left: 165px;
    letter-spacing: 2px;
}
main section h3 #experience span{
    color: #52ab98;
    margin-left: 30px;
}
main #fly{
    position: relative;
    margin-top: 200px;
 }
 main #fly .flying-kite{
    width: 100%;
    height: auto;
 }
 main #fly img{
    vertical-align: middle;
    border-style: none;
 }
main #projects{
    margin-top: 50px;
    font-size: 30px;
    margin-bottom: 500px;
}
main section .clock{
    position: absolute;
    border-radius: 50%;
    margin-top: 50px;
    width: 100px;
    height: 100px;
    background-color: brown;
    animation: movieSquare 4s backwards infinite;


}
@keyframes movieSquare{
    0%{left: 0px;}
    50%{left: 950px;}
    100%{left: 0px;}

}
main section .analog{
    position: absolute;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-top: 250px;
    background-color: #e6d615;
    animation: movieSquareTwo 6s forwards infinite;
    
}
@keyframes movieSquareTwo{
    0%{left: 0px;}
    50%{left: 950px;}
    100%{left: 0px;}
}
main a{
    position: absolute;
    align-items: center;
    margin-top: 255px;
    font-size: 25px;
    font-weight: 500;
    text-decoration: none;
}
main a:hover{
    color: #e6d615;
    cursor: pointer;
    transition: 1s;
}
main #kite{
    position: relative;
    margin-top: 200px;
 }
 main #kite .png-kite{
    width: 100%;
    height: auto;
 }
 main #kite img{
    vertical-align: middle;
    border-style: none;
 }
main #contact .yellow-box{
    margin-left: 150px;
    height: 500px;
    width: 450px;
    margin-top: 100px;
    margin-bottom: 100px;
    border: 2px solid #52ab98;
}
main #contact .yellow-box .container h2{
    color: #e6d615;
    margin-right: 30px;
    margin-top: 5px;

    
}
input[type="text"],
input[type="email"],
input[type="text"],
textarea,
select{
    width: 62.5%;
    padding: 12px;
    margin-top: 20px;
    margin-left: 50px;
    border-radius: 10px;
    border: 2px solid #52ab98;
    background-color: #111111;
}
main #contact .yellow-box .container #message{
    padding: 25px;
    width: 58%;
    height: 60px;
}
input[type="send message"]{
    background-color: #52ab98;
    height: 20px;
    padding: 15px;
    text-align: center;
    margin-left: 80px;
    margin-top: 13px;
    border: none;
    width: 50%;
    cursor: pointer;
    border-radius: 10px;
}
main #contact .yellow-box .container .submitButton{
    letter-spacing: 1px;
    font-size: 15px;
}
aside{
    flex: 1;
    float: right;
    width: 30%;
    margin-left: 10px;
    padding: 10px;
    background-color: #2b6777;
    height: 2370px;
    border-top-left-radius: 25px;
}
aside #box{
    height: 100px;
    width: 100px;

    background-color: white;
}
aside h2{
    margin-bottom: 200px;
    margin-top: 90px;
    font-size: 25px;
    margin-left: 35px;
}
aside h2 p{
    font-size: 15px;
    margin-top: 12px;
    margin-left: -12px;
    font-weight: 200;
    letter-spacing: 1px;
}
aside h2 p span{
    margin-left: 31px;
    font-size: 12px;
    font-weight: 200;
    margin-left: 180px;
}
aside h2 #p2{
    margin-top: 30px;
}
aside h2 .photoshop{
    height: 20px;
    width: 350px;
    margin-top: 8px;
    border-radius: 10px;
    margin-left: -14px;
    background-color: #eea302;
    transition: linear 2s ease-in;

}
aside h2 .photoshop:hover{
    background-color: white;
    
    
}
aside h2 .illustrator{
    height: 20px;
    width: 350px;
    margin-top: 8px;
    background-color: #eea302;
    border-radius: 10px;
    margin-left: -14px;
}
aside h2 #p2 #illus{
    margin-left: 31px;
    font-size: 12px;
    font-weight: 200;
    margin-left: 195px;
}
aside h3{
    font-size: 25px;
    margin-left: 35px;
}
aside h3 p{
    font-size: 15px;
    margin-top: 12px;
    margin-left: -12px;
    font-weight: 200;
    letter-spacing: 1px;
}
aside h3 p span{
    font-size: 12px;
    font-weight: 200;
    margin-left: 230px;
}
aside h3 #js{
    margin-top: 30px;
}
aside h3 .hc{
    height: 20px;
    width: 350px;
    margin-top: 8px;
    border-radius: 10px;
    margin-left: -14px;
    background-color: #eea302;

}
aside h3 .java{
    height: 20px;
    width: 350px;
    margin-top: 8px;
    background-color: #eea302;
    border-radius: 10px;
    margin-left: -14px;
}
aside h3 #js #javascript{
    font-size: 12px;
    font-weight: 200;
    margin-left: 235px;
}




































footer{
    background-color: #52ab98;
    padding-top: 100px;
    width: 100%;
    border-radius: 10px;
}
footer .foot{
    justify-content: center;
    display: flex;
    align-items: center;
    font-weight: 300;
    letter-spacing: 0.5px;
}
footer .heart{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    letter-spacing: 1px;
}